/* secao banner */

.home-container {
  max-width: 88%; 
  margin: 0 auto;
  padding: 16px;
}

.banner-img {
  width: 100%;
  max-height: 100%; 
  object-fit: cover;
  border-radius: 12px; 
  display: block;
}

/* secao marcas */

.marcas {
  padding: 40px 16px;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
}

.marcas::-webkit-scrollbar {
  display: none; /* Chrome, Safari, etc */
}

.marcas-slider {
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  padding-bottom: 8px;
}

.marca {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
  text-decoration: none;
  color: #000;
  min-width: 80px;
}

.marca-icon {
  background-color: #EFEFEF;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.marca-icon img {
  max-width: 40px;
  max-height: 40px;
}

.marca p {
  font-family: 'Erstoria', serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -1%;
  text-align: center;
}

.marca-icon:hover {
  background-color: #dcdcdc; 
}

@media screen and (max-width: 768px) {
  .marcas-slider {
    justify-content: flex-start;
    padding-left: 8px;
    gap: 12px; /* Reduzido de 24px para 12px */
  }

  .marca {
    min-width: 64px;
    margin-right: 8px; /* Reduzido */
  }

  .marca-icon {
    width: 64px;
    height: 64px;
  }

  .marca-icon img {
    max-width: 30px;
    max-height: 30px;
  }

  .marca p {
    font-size: 11px;
  }
}

/* Seção Como Funciona */
.como-funciona {
  padding: 80px 10px;
  text-align: center;
  background-color: #fff;
}

.como-funciona .subtitulo {
  color: #d4a017; 
  font-family: Erstoria;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 140%;
letter-spacing: -1%;
text-align: center;
}

.como-funciona .titulo {
  font-family: Erstoria;
font-weight: 400;
font-style: Regular;
font-size: 28px;
line-height: 124%;
letter-spacing: 0%;
text-align: center;

}

.etapas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.etapa {
  width: 260px;
  max-width: 100%;
  text-align: center;
}

.etapa img {
  width: 80px;
  height: auto;
  margin-bottom: 16px;
}

.etapa h3 {
  font-family: 'Erstoria', serif;
  font-size: 18px;
  margin-bottom: 8px;
}

.etapa p {
  font-family: 'Lato', sans-serif;
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}

@media (max-width: 767px) {
.como-funciona .subtitulo {
font-size: 16px;
}
}

@media (max-width: 400px) {
.como-funciona .titulo {
    font-size: 20px;
}
}